# 안녕하세요:)

## AIVLE 1차 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 서울시 생활정보 데이터를 기반으로 데이터 분석을 시도하고 주어진 문제를 해결할 것입니다.


* 우리는 공공 데이터를 활용해 버스노선 관련 인사이트를 도출하여 유용한 정책을 세우는데 도움을 주고자 합니다

## ▣ 우리가 풀어야 하는 문제는 무엇인가요?

* 제공 데이터
    - 구 별 유동인구 데이터 **
    - 버스 승하차 및 운행 노선 데이터 **
    - 구 별 주민 등록 데이터
    - 구 별 업종 등록 정보
   

### 위 제공 데이터를 분석하여 버스 노선 추가 필요 대상 지역(구 단위)을 선정합니다

# 이 4개의 데이터들을 어떻게 합칠까요?

In [1]:
import pandas as pd

In [2]:
standard = pd.DataFrame({'도착 시군구 코드': [11010, 11020, 11030, 11040, 11050, 11060, 11070, 11080, 11090, 11100, 11110, 11120, 11130, 11140, 11150, 11160, 11170, 11180, 11190, 11200, 11210, 11220, 11230, 11240, 11250],
                         '자치구' :['종로구','중구','용산구','성동구','광진구','동대문구','중랑구','성북구','강북구','도봉구','노원구','은평구','서대문구','마포구','양천구','강서구','구로구','금천구','영등포구','동작구','관악구','서초구','강남구','송파구','강동구']})

In [3]:
standard

    도착 시군구 코드   자치구
0       11010   종로구
1       11020    중구
2       11030   용산구
3       11040   성동구
4       11050   광진구
5       11060  동대문구
6       11070   중랑구
7       11080   성북구
8       11090   강북구
9       11100   도봉구
10      11110   노원구
11      11120   은평구
12      11130  서대문구
13      11140   마포구
14      11150   양천구
15      11160   강서구
16      11170   구로구
17      11180   금천구
18      11190  영등포구
19      11200   동작구
20      11210   관악구
21      11220   서초구
22      11230   강남구
23      11240   송파구
24      11250   강동구

In [4]:
# 버스 정류장 데이터 - df_seoul_bus_station
# 유동인구 데이터 - df_seoul_moving

df_seoul_bus_station = pd.read_csv('df_seoul_bus_station.csv', sep=",", encoding = 'UTF-8')
df_seoul_moving = pd.read_csv('df_seoul_moving.csv', sep=",", encoding = 'UTF-8')

In [5]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_seoul_bus_station.head()

   자치구  정류장수  노선수   승차총승객수   하차총승객수     승차평균승객수     하차평균승객수
0  강남구   499   91  8030483  7569213  128.767927  121.371512
1  강동구   369   21  2890053  2830506   99.161194   97.118065
2  강북구   413   67  4825181  4671783  133.020373  128.791504
3  강서구   566   49  4681083  4652828   88.119480   87.587591
4  관악구   466   86  7655819  7792476  154.753674  157.516040

In [6]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_seoul_moving.head()

   도착 시군구 코드  총 이동 시간       총 이동 인구  평균 이동 시간(분)    이동인구(합)
0      11010  9356120  1.938571e+07    21.349599  44.235978
1      11020  9306020  1.971532e+07    21.012462  44.516072
2      11030  8514380  1.470708e+07    21.364786  36.903883
3      11040  8887140  1.744927e+07    21.740324  42.685596
4      11050  8625540  1.794728e+07    22.474283  46.762548

In [7]:

df = pd.merge(standard,df_seoul_bus_station,how='inner', on='자치구')
df = pd.merge(df,df_seoul_moving,how='inner', on='도착 시군구 코드')
# df = pd.merge(df,df_seoul_business,how='inner', on='자치구')
# df = pd.merge(df,df_seoul_people,how='inner', on='자치구')

In [8]:
df

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,총 이동 시간,총 이동 인구,평균 이동 시간(분),이동인구(합)
0,11010,종로구,349,106,5468935,5205394,131.889620,125.534028,9356120,1.938571e+07,21.349599,44.235978
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,9306020,1.971532e+07,21.012462,44.516072
2,11030,용산구,323,67,4189977,4086474,137.891694,134.485421,8514380,1.470708e+07,21.364786,36.903883
3,11040,성동구,435,58,2807280,2746738,96.377369,94.298888,8887140,1.744927e+07,21.740324,42.685596
4,11050,광진구,269,41,2749448,2753411,118.352546,118.523137,8625540,1.794728e+07,22.474283,46.762548
5,11060,동대문구,306,73,5240565,5115379,131.841430,128.692017,8838130,1.628808e+07,21.673451,39.942708
6,11070,중랑구,380,48,3792541,3740923,87.403863,86.214261,7939300,1.390747e+07,23.412789,41.012753
7,11080,성북구,602,99,6236424,6231238,123.251922,123.149430,9072420,1.875718e+07,22.160283,45.816273
8,11090,강북구,413,67,4825181,4671783,133.020373,128.791504,7649610,1.257041e+07,23.811274,39.128470
9,11100,도봉구,359,46,3304305,3211421,106.859356,103.855540,6995880,1.082157e+07,24.489976,37.882283
10,11110,노원구,514,57,4353295,4292724,88.476211,87.245168,8975240,2.061194e+07,24.029515,55.184590
11,11120,은평구,501,71,5201660,5122499,106.395173,104.776007,8077520,1.649547e+07,24.611578,50.260428
12,11130,서대문구,456,107,5863499,5796960,109.914502,108.667192,8465390,1.630166e+07,22.026816,42.416672
13,11140,마포구,562,97,5088461,4957596,103.907639,101.235343,9494790,2.363981e+07,22.044201,54.884906
14,11150,양천구,319,56,4009172,3851173,97.627526,93.780086,7379950,1.506964e+07,22.793734,46.544142
15,11160,강서구,566,49,4681083,4652828,88.119480,87.587591,9388010,2.183976e+07,25.124068,58.447282
16,11170,구로구,486,79,4942197,4730992,119.235615,114.140076,7946750,1.446307e+07,22.933748,41.739382
17,11180,금천구,345,58,3776658,3581930,123.098370,116.751304,6362000,8.111344e+06,23.998944,30.597875
18,11190,영등포구,465,101,5739875,5783211,120.337855,121.246404,9581360,2.500686e+07,21.615227,56.414634
19,11200,동작구,438,94,5314274,5112276,124.295965,119.571419,8408680,1.576246e+07,21.867593,40.991815
20,11210,관악구,466,86,7655819,7792476,154.753674,157.516040,8772170,1.872564e+07,23.377928,49.904036
21,11220,서초구,600,93,7221330,6977950,126.687777,122.418028,10291660,2.891132e+07,22.831643,64.138624
22,11230,강남구,499,91,8030483,7569213,128.767927,121.371512,11437560,4.468465e+07,23.094565,90.226636
23,11240,송파구,415,55,5641742,5603488,114.270072,113.495260,10610520,3.483761e+07,25.429707,83.493581
24,11250,강동구,369,21,2890053,2830506,99.161194,97.118065,8430800,2.110146e+07,25.670084,64.249687

In [9]:
df.corr()

,도착 시군구 코드,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,총 이동 시간,총 이동 인구,평균 이동 시간(분),이동인구(합)
도착 시군구 코드,1.000000,0.447511,-0.069435,0.440756,0.441705,0.017980,0.029956,0.235541,0.473119,0.533514,0.610548
정류장수,0.447511,1.000000,0.258798,0.566681,0.578479,-0.135318,-0.099146,0.356947,0.355635,0.223747,0.374723
노선수,-0.069435,0.258798,1.000000,0.665488,0.652642,0.493541,0.470440,0.388332,0.226437,-0.678600,-0.003649
승차총승객수,0.440756,0.566681,0.665488,1.000000,0.996610,0.538720,0.547384,0.581339,0.576553,-0.110113,0.474049
하차총승객수,0.441705,0.578479,0.652642,0.996610,1.000000,0.534826,0.555137,0.572769,0.558699,-0.097082,0.463898
승차평균승객수,0.017980,-0.135318,0.493541,0.538720,0.534826,1.000000,0.989288,0.140483,0.067920,-0.382202,-0.079733
하차평균승객수,0.029956,-0.099146,0.470440,0.547384,0.555137,0.989288,1.000000,0.148381,0.062384,-0.356171,-0.072466
총 이동 시간,0.235541,0.356947,0.388332,0.581339,0.572769,0.140483,0.148381,1.000000,0.923298,-0.141914,0.808313
총 이동 인구,0.473119,0.355635,0.226437,0.576553,0.558699,0.067920,0.062384,0.923298,1.000000,0.095727,0.951399
평균 이동 시간(분),0.533514,0.223747,-0.678600,-0.110113,-0.097082,-0.382202,-0.356171,-0.141914,0.095727,1.000000,0.373091
이동인구(합),0.610548,0.374723,-0.003649,0.474049,0.463898,-0.079733,-0.072466,0.808313,0.951399,0.373091,1.000000

---

## 1.가설 수립 
+ 어떤 데이터를 label 데이터로 하실 건가요?

? 정해진게 없나요? - 네 라벨을 개인및 조별로 고민하셔서 라벨데이터를 설정하시면 되겠습니다


? 가설마다 라벨데이터가 달라도 상관없나요? 네 그렇습니다


? 가설은 3개만 해야하나요? 그 이상 하셔도 무방합니다

### 가설을 설정해 봅시다 (인당 최소 3개) - 미니프로젝트 진행의 편의상 가설은 이변량 분석을 염두에 두고 설정해 주세요

* 가설 1 (예시) 정류장 수  - 승차 총 승객수

H0 (귀무가설) 정류장 수와 승차 총 승객수는 연관이 없다.

H1 (대립가설) 정류장 수와 승차 총 승객수는 연관이 있다.ㅇㅇㅇㅇㅇㅇ

In [12]:
import scipy.stats as spst
r = spst.pearsonr(df['정류장수'],df['승차총승객수'])

In [13]:
r

(0.5666813370974585, 0.003141977397117322)

In [16]:
df['비율1'] =df['정류장수'] / df['승차총승객수'] *10000
df.sort_values(by=['비율1']).head()

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,총 이동 시간,총 이동 인구,평균 이동 시간(분),이동인구(합),비율1
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,9306020,1.971532e+07,21.012462,44.516072,0.471314
5,11060,동대문구,306,73,5240565,5115379,131.841430,128.692017,8838130,1.628808e+07,21.673451,39.942708,0.583907
20,11210,관악구,466,86,7655819,7792476,154.753674,157.516040,8772170,1.872564e+07,23.377928,49.904036,0.608687
22,11230,강남구,499,91,8030483,7569213,128.767927,121.371512,11437560,4.468465e+07,23.094565,90.226636,0.621382
0,11010,종로구,349,106,5468935,5205394,131.889620,125.534028,9356120,1.938571e+07,21.349599,44.235978,0.638150

* 가설 2

* 가설 3

## 2.단변량 분석

+ 변수의 비즈니스 의미  

+ 숫자? 범주?  

+ 전처리 사항
   - NaN 존재 여부 및 조치 방안  
   - 가변수화 대상여부  
   
+ 기초통계량

+ 분포  

+ 위 정보로부터 파악한 내용(비즈니스!) 정리  

+ 추가 분석해볼 사항 도출

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# 시각화 한글폰트 설정
# 맑은 고딕

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

# scipy
import scipy.stats as spst

### 1)

### 2)

### 3)

## 3.이변량 분석

* 자료의 종류에 맞게 X --> Y 에 대해서 그래프(시각화)와 가설검정(수치화)를 수행하고 결과를 평가합니다.

* 가설검정시 다음의 항목을 참조하여 수행합니다.
    * 유의수준 : 5%
    * 숫자 --> 숫자 : 상관분석
    * 범주 --> 범주 : 카이제곱검정
    * 범주 --> 숫자 : t검정, 분산분석
    * 숫자 --> 범주 : 로지스틱 회귀모형을 통해, 회귀계수의 P.value로 검정을 수행합니다.

In [ ]:
target =

### 1)

### 2)

### 3)

### 상관계수를 구하고 HeatMap으로 시각화 후 나름의 분석을 해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 상관계수를 확인 및 시각화 합니다.
import scipy.stats as spst

spst.pearsonr(X,Y)

In [ ]:
# 아래에 실습코드를 작성하고 상관계수를 확인 및 시각화 합니다.

sns.heatmap(seoul_bus_station.corr(), annot = True)
plt.show()

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

## 4.관계 정리

### 1) 강한 관계의 변수

### 2) 약한 관계의 변수

## 5.솔루션 도출

### 어느 구에 버스 노선 또는 정류장이 제일 필요한가요? 그 이유는?