<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title3.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 #1: Input

1) 함수 hello_world를 만들어 보세요.

- 이름 값을 받는 입력 매개변수 name(문자)
- 'Hello '와 ' , welcome to Python World!' 사이에 name을 넣어 출력
- (Hello name, welcome to Python World! 형태)
- name에 값을 지정하여 함수의 결과를 확인하세요.


        hello_world('Ann')
        ------------------
        Hello Ann, welcome to Python World!

In [2]:
def hello_world(name):
    print(f'Hello {name} welcome to Python World!')
    
hello_world('포두')

Hello 포두 welcome to Python World!

2) 함수 say_hey를 만들어 보세요.

- 횟수를 받는 입력 매개변수 count(숫자)
- 입력받은 count만큼 'Hey! '를 출력
- count에 값을 지정하여 함수의 결과를 확인하세요.


        say_hey(5)
        -----------------------
        Hey! Hey! Hey! Hey! Hey!

In [4]:
def say_hey(count):
    print('Hey! '* count)

say_hey(5)

Hey! Hey! Hey! Hey! Hey!

3) 함수 hello를 만들어 보세요.

- 이름 값을 받는 입력 매개변수 name(문자), 숫자를 받는 loud(숫자) (이때, loud = 1로 선언)
- loud = 1일 때, 'HELLO '와  '!!!' 사이에 name(대문자)을 넣어 출력 
- loud = 0이면, 'Hello '와 '.' 사이에 name(소문자)을 넣어 출력
- name, loud에 값을 지정하여 함수의 결과를 확인하세요.
- name에만 값을 지정하여 함수의 결과를 확인하세요.



        hello(name = 'Kim', loud = 0)
        hello(name = 'Kim')
        -----------------------
        Hello kim.
        HELLO KIM!!

In [30]:
def hello(name,loud=1):
    if loud == 1:
        print(f'HELLO {name.upper()}!!!')
    elif loud == 0 :
        print(f'Hello {name.lower()}.')
        
hello(name = 'Kim', loud = 0)
hello(name = 'Kim')

Hello kim.
HELLO KIM!!!

4) 함수 add를 만들어 보세요.

- 계산할 숫자들을 받는 입력 매개변수 a(숫자), b(숫자)
- a와 b의 합을 변수 sum에 저장
- '덧셈 결과는' 뒤에 sum의 값을 넣어서 출력 (덧셈 결과는 sum 형태)
- a, b에 값을 지정하여 함수의 결과를 확인하세요.


        add(7, 2)
        ------------
        덧셈 결과는 9

In [14]:
def add(a,b):
    sum = a + b 
    print(f'덧셈 결과는 {sum}')

add(7, 2)

덧셈 결과는 9

5) 함수 numbers를 만들어 보세요.

- 출력할 숫자들을 받는 입력 매개변수 nums(숫자)는 입력 값의 수를 정하지 않고 들어오는 대로 받음
- 입력받은 숫자들을 출력
- nums에 값을 지정하여 함수의 결과를 확인하새요.
- 힌트: 입력받을 매개변수의 수를 지정하지 않고 사용하려면 *nums



        numbers(2, 4, 6, 8, 10)
        ---------------------
        (2, 4, 6, 8, 10)

In [15]:
def numbers(*arg):
    print(arg)
    
numbers(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

6) 함수 average를 만들어 보세요.

- 평균을 구할 수들을 받는 입력 매개변수 nums(숫자)는 입력 값의 수를 정하지 않고 들어오는 대로 받음
- 입력받은 숫자들의 평균을 변수 avg에 저장하여 출력
- nums에 값을 지정하여 함수의 결과를 확인하새요.



        average(2, 4, 6, 8, 10)
        ------------------------
        6.0

In [17]:
def average(*nums):
    avg = sum(nums)/len(nums)
    print(avg)
    
average(2, 4, 6, 8, 10)

6.0

# 실습 #2: Output

1) 함수 calculate1을 만들어 보세요.

- 입력 매개변수: 숫자1, 숫자2, 사칙연산 부호(+,-,*,/)
- 숫자1과 숫자2 사이에 사칙연산자 부호에 해당하는 연산을 수행 후 결과를 print로 출력


        calculate1(11, 2, '*')
        ---------------
        22

In [23]:
def calculate1(num1,num2,op):
    num1 , num2 = int(num1), int(num2)
    if op == '+':
        print(num1 + num2)
    elif op == '-':
        print(num1 - num2)
    elif op == '*':
        print(num1 * num2)
    elif num2 == 0:
        print('can not calculate')
    elif op == '/':
        print(num1 / num2)
        
num1,num2,op = input("plz type num1/num2/op[+,-,*,/]").split()   

calculate1(num1,num2,op)

plz type num1/num2/op[+,-,*,/] 11 2 *

22

2) 위에서 만든 calcuate1의 결과를 변수 c로 저장해 보세요.  

- 그런 다음 c를 출력해 보세요.
- 결과가 담기나요?

In [25]:
c = calculate1(num1, num2, op)
print(c)

22
None

3) 위에서 만든 calcuate1의 결과를 변수 c로 저장하기 위해서

- 결과를 반환하도록 코드를 수정하세요.
- 힌트: return
- 이제 다시 결과를 c로 저장하고 출력하세요.
- 결과가 담기나요?

In [27]:
def calculate1(num1,num2,op):
    num1 , num2 = int(num1), int(num2)
    if op == '+':
        return (num1 + num2)
    elif op == '-':
        return (num1 - num2)
    elif op == '*':
        return (num1 * num2)
    elif num2 == 0:
        return 'can not calculate'
    elif op == '/':
        return (num1 / num2)
    
num1,num2,op = input("plz type num1/num2/op[+,-,*,/]").split()   
c = calculate1(num1,num2,op)
print(c)

plz type num1/num2/op[+,-,*,/] 11 2 *

22

4) 함수 calculate2를 만들어 보세요.

- 숫자 두개를 받아서 몫과 나머지를 계산하고 두 결과를 반환
- 함수 실행 후 결과를 r1, r2에 저장한 후 출력하세요.


        r1, r2 = calculate2(11, 2)
        print(r1, r2)
        ---------------------------
        5  1

In [31]:
def calculate2(num1, num2):
    return num1 // num2 , num1 % num2

r1, r2 = calculate2(11,2)
print(r1, r2)

5 1

5) [심화] 함수 even을 만들어 보세요.

- 입력 매개변수로 리스트를 입력받아.
- 입력받은 리스트 값들 중 짝수로만 구성된 새로운 리스트를 반환
- 힌트: 함수 처리 코드 내 짝수를 저장할 빈 리스트 result 생성


        even([2, 3, 6, 8, 11])
        ------------------------
        [2, 6, 8]

In [1]:
def even(l):
    result = []
    for i in l :
        if i % 2 == 0 :
            result.append(i)
    return result

even([2,3,6,8,11])

[2, 6, 8]

# 실습 #3: 예외처리

1) 함수 divide를 만들어 보세요.  

- 입력변수: num1, num2
- 처리: num1 / num2
- 결과: 나눈 결과를 반환

- 함수를 만들고 숫자 두개를 넣고 결과를 확인해 보세요.

In [5]:
def divide(num1, num2):
    return num1 / num2

divide(2,4)

0.5

2) 위 문제에서 만약 num2에 0을 넣으면 오류가 발생합니다.

- ZeroDivisionError: division by zero 
- 이를 해결하기 위해 오류 처리 코드를 넣어 보세요.
- num2에 0이 들어오면, '0으로 나눌 수 없습니다.' 라고 출력하고,
- num2에 다른 숫자가 들어오면, 나눈 결과를 반환하세요.


        divide(10, 0)
        ----------------
        0으로 나눌 수 없습니다.

In [7]:
def divide(num1, num2):
    if num2 == 0 :
        return '0으로 나눌 수 없습니다.'
    return num1 / num2

result = divide(2,0)
print(result)

0으로 나눌 수 없습니다.

3) 위 결과에 이어서, num1, num2 모두 int 인지 확인하는 코드도 작성하세요.

- 힌트: 정수인지 확인 num1 is int


        divide(10, 'a')
        ----------------------
        입력값이 모두 숫자여야 합니다.

In [12]:
def divide(num1, num2):
    if num2 == 0 :
        return '0으로 나눌 수 없습니다.'
    if num1 is int and num2 is int :
        return num1 / num2
    else :
        return '입력값이 모두 숫자여야 합니다.'
    
a = divide(2,1.2)
b = divide(2,0)
c = divide(1,5)

print(a,b,c , sep = '\n')

입력값이 모두 숫자여야 합니다.
0으로 나눌 수 없습니다.
입력값이 모두 숫자여야 합니다.

In [ ]:
i = 1
summ = 0 

for i  in range(1,101) :
    if i % 3 == 0:
        summ += i
        i += 1

print(summ)

# 실습 #4: [심화] 로또 번호 생성기

### 단계 1  
1) 로또 번호 여섯 개를 무작위로 생성하는 함수 lotto_number를 만들어 보세요. (lotto_number는 입력값이 없는 함수입니다.)  
2) random 모듈의 sample 함수를 사용하시오. sample(리스트, k)는 리스트 중에서 k개를 무작위로 추출합니다.
- 사용법  


        import random as rd
        rd.sampme([1,2,3,4,5], 2)
        ------------------------  
        [1, 4]

3) 1~46 중 6개의 숫자를 무작위로 뽑아 주어야 합니다. 단 결과는 정렬된 채로 반환해야 합니다.

In [43]:
import random as rd

def lotto_number():
    result = rd.sample(list(range(1,46)),6)
    result.sort()
    print(result)

In [44]:
lotto_number()

[6, 9, 20, 32, 38, 41]

### 단계 2 
단계1에 이어서...  
1) 로또번호 발생을 여러번 할 수 있도록 숫자를 입력받습니다.  
2) 결과는 다음과 같이 나와야 합니다.

        lotto_number(3)
        -----------------
        1 : [18, 21, 23, 25, 38, 44]
        2 : [3, 20, 29, 37, 43, 46]
        3 : [1, 6, 13, 29, 30, 38]

In [50]:
def lotto_number(count):
    for i in range(count):
        result = rd.sample(list(range(1,46)),6)
        result.sort()
        print(f'{i+1} : {result}')

lotto_number(3)

1 : [3, 23, 30, 33, 38, 44]
2 : [5, 26, 37, 38, 40, 44]
3 : [6, 12, 16, 24, 38, 45]

[(0, 1), (1, 2), (2, 3)]

### 단계 3 
단계2에 이어서...  
1) 선호하는 번호를 리스트로 받아서,  
2) 선호하는 번호와 함께 나머지 번호를 발생시켜주도록 합니다.  
3) 입력 매개변수: 선호번호리스트, 횟수

        lotto_number([11,22], 3)
        -----------------
        1 : [2, 9, 11, 22, 28, 43]
        2 : [11, 22, 26, 31, 32, 40]
        3 : [2, 6, 11, 22, 29, 39]

In [65]:
def lotto_number(list_a, cnt):
    nums = list(range(1,46)) # 1~ 45
    
    for num in list_a:            # 고객이 임력한 번호를 제거
        nums.remove(num)
        
    count = 6 - len(list_a)
    
    for i in range(cnt):
        result = rd.sample(nums,count) 
        result = list_a + result
        result.sort()
        print(f'{i+1} : {result}')

In [67]:
#함수 사용
lotto_number([11,22],3)

1 : [11, 14, 20, 21, 22, 38]
2 : [4, 7, 11, 21, 22, 41]
3 : [11, 13, 22, 25, 32, 33]

In [68]:
def lotto_number(list_a, n):
    nums = list(range(1,46))
    
    for num in list_a:
        nums.remove(num)
    
    count = 6 - len(list_a)
    
    for i in range(n):
        result = rd.sample(nums, count)
        result = list_a + result
        result.sort()
        print(i + 1, ':', result)

In [69]:
lotto_number([22,33],4)

1 : [1, 19, 22, 27, 33, 36]
2 : [6, 10, 17, 22, 31, 33]
3 : [6, 22, 27, 33, 40, 42]
4 : [11, 14, 22, 29, 33, 39]