In [1]:
#라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [98]:
# 파일 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/tips.csv'
# tips = pd.read_csv('tips.csv')
tips = pd.read_csv(path)
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [99]:
#하위 데이터 3건 
tips.tail(3)

     total_bill   tip     sex smoker   day    time  size
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [100]:
# 열 이름 , 데이터 형식, 데이터 개수 등을 한 번에 확인
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [101]:
# 데이터프레임 크기(형태) 확인
print(tips.shape)  
print(tips.shape[0], tips.shape[1])

(244, 7)
244 7

In [18]:
# 기초통계정보 (수치형 변수에 대한 요약)
print(tips.describe())
print('-'* 30)

# 일부 열(total_bill , tip)에 대한 기초 통계정보 
print(tips[['total_bill','tip']].describe())

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000
------------------------------
       total_bill         tip
count  244.000000  244.000000
mean    19.785943    2.998279
std      8.902412    1.383638
min      3.070000    1.000000
25%     13.347500    2.000000
50%     17.795000    2.900000
75%     24.127500    3.562500
max     50.810000   10.000000

## (중요)tips.loc[  행   ,    열    ]  항상 이렇게 시작 차근차근

In [46]:
#- 다음과 같이 생략할 수 있는 부분이 있음
#- 범위나 조건이 지정되면 loc를 생략 할 수 없음
#- 데이터 조회('행', '열'에는 하나 또는 묶은 또는 범위가 와야함)

tips.loc[  :   ,    :   ] 
tips.loc[  :   ,    'tip'    ] # 출력값 을 series라고 부르자
tips.loc[  :   ,    ['tip','total_bill']    ]   tip, total_bill 열의 모든행 조회
tips.loc[  :   ,    'tip':'day'    ]   # 열 tip ~ day 까지 
tips.loc[  tips['tip'] > 6.0   ,    :    ]
tips.loc[  (tips['tip'] > 6.0) & (tips['smoker'] == 'Yes')   ,   :   ] 
tips.loc[   tips['tip'].between(3.0,4.0)   ,    :    ] 
tips.loc[   tips['size'].between(1,3)   ,    :    ] # 1~3 이라는 element 에 대한 범위이므로 3도 포함 
tips.loc[  tips['size'].between(1, 3)   , ['tip','day','size' ]     ] 
tips.loc[tips['size'].isin([1,3,4,7,9])]
tips[['tip','total_bill']] # tip total_bill 열의 조회 축약형

     total_bill   tip     sex smoker  day    time  size
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
227       20.45  3.00    Male     No  Sat  Dinner     4
230       24.01  2.00    Male    Yes  Sat  Dinner     4
231       15.69  3.00    Male    Yes  Sat  Dinner     3
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3

[79 rows x 7 columns]

In [49]:
#기본 집계
tips['total_bill'].sum()

4827.77

In [51]:
# tip 열의 평균
tips['tip'].mean()

2.9982786885245902

In [60]:
# tip 열의 최댓값
tip_max = tips['tip'].max()

#팁을 가장 많이 낸 인덱스는 언제 식사를하였나요?
tips.loc[tips['tip'] == tip_max, 'time']

170    Dinner
Name: time, dtype: object

In [61]:
#tips.loc[:, [ 'tip','total_bill']]
#또는
tips[['tip','total_bill']]

      tip  total_bill
0    1.01       16.99
1    1.66       10.34
2    3.50       21.01
3    3.31       23.68
4    3.61       24.59
..    ...         ...
239  5.92       29.03
240  2.00       27.18
241  2.00       22.67
242  1.75       17.82
243  3.00       18.78

[244 rows x 2 columns]

In [67]:
# tips.loc[tips['tip'] == tip_max, 'sex']
tips.loc[tips['tip'] == tip_max]['sex']

170    Male
Name: sex, dtype: object

In [90]:
new_tip = tips.loc[:]
print(new_tip.loc[4:])
print('------------')
print(new_tip.loc[4])
print('------------')

     total_bill   tip     sex smoker   day    time  size
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[240 rows x 7 columns]
------------
total_bill     24.59
tip             3.61
sex           Female
smoker            No
day              Sun
time          Dinner
size               4
Name: 4, dtype: object
------------

In [96]:
new_tip.iloc[ 5 , 0]  ## 5라는 것이 index 순서의 6번쨰 값

25.29

In [95]:
new_tip.loc[5, :]

total_bill     25.29
tip             4.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 5, dtype: object