In [11]:
# 라이브러리
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as spst

# 한글폰트 지정(맑은고딕)
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

# 고해상도
%config InlineBackend.figure_format = 'retina'

In [12]:
data = pd.read_excel(io = '날짜.xlsx')
data.head()

     연도 추석기준         날짜 요일  구분
0  2017  D-3 2017-10-01  일  연휴
1  2017  D-2 2017-10-02  월  평일
2  2017  D-1 2017-10-03  화  연휴
3  2017    D 2017-10-04  수  연휴
4  2017  D+1 2017-10-05  목  연휴

In [13]:
data.shape

(34, 5)

In [14]:
data.isna().sum()

연도      0
추석기준    0
날짜      0
요일      0
구분      0
dtype: int64

In [15]:
data.to_csv('df_date.csv')