<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice3.png' width=300/></center>

# 쇼핑몰 고객 분석

<img src='https://raw.githubusercontent.com/Jangrae/img/master/shopping.jpg' width="650" align="left">

# 1.준비

**1) 라이브러리 불러오기**

- 사용할 라이브러리를 불러옵니다.

In [1]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'retina'

**2) 데이터 읽어오기**

- 다음 경로의 파일을 읽어와 mall 데이터프레임을 만듭니다.
- 파일 경로: https://raw.githubusercontent.com/Jangrae/csv/master/mall_cust.csv

In [2]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/mall_cust.csv'  
mall = pd.read_csv(path)

**3) 상/하위 데이터 확인**

- 상위 데이터와 하위 데이터를 확인해 데이터의 모습을 살펴봅니다.

In [3]:
# 상위 데이터 5건 확인
mall.head(5)

   CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                      39
1           2    Male   NaN                15.0                      81
2           3  Female  20.0                16.0                       6
3           4  Female   NaN                16.0                      77
4           5  Female  31.0                 NaN                      40

In [4]:
# 하위 데이터 5건 확인
mall.tail(5)

     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female  35.0               120.0                      79
196         197  Female  45.0               126.0                      28
197         198    Male  32.0               126.0                      74
198         199    Male  32.0               137.0                      18
199         200    Male  30.0               137.0                      83

# 2.실습 A

- 데이터를 탐색하고 전처리합니다.

#### 실습A-1. 결측치 확인

- 각 열 별로 결측치가 몇 개 씩 있는지 확인합니다.

In [5]:
# 결측치 확인

#### 실습A-2. 열 정보 확인

- 열 이름, 데이터 개수, 데이터 형식 등을 한 번에 확인홥니다.

In [6]:
# 열 정보 확인

#### 실습A-3. 열 이름 변경

- 다음과 같이 두 열의 이름을 변경합니다.
    - Annual Income (k$) --> Income	
    - Spending Score (1-100) --> Score

In [7]:
# 열 이름 변경



# 확인

#### 실습A-4. 결측치 처리

- 결측치가 있는 행은 적절히 채울 값이 없다 가정하고 제거합니다.

In [8]:
# 결측치 제거


# 확인

#### 실습A-5. 인덱스 초기화

- 지워진 행이 있으니 기존 인덱스 값을 버리고 새로 초기화 합니다.

In [9]:
# 인덱스 초기화


# 확인

#### 실습A-6. 열 제거

- CustomerID 열은 단순한 일련 번호이니 제거합니다.

In [10]:
# 열 제거


#  확인

#### 실습A-7. 열 추가

- 연령대별 분석을 위해 연령대 값을 갖는 Age_Group 열을 추가합니다.

In [11]:
# 열 추가


#  확인

#### 실습A-8. 기초통계정보 확인

- 현재까지 처리된 데이터에 대한 기초통계정보를 확인합니다.

In [12]:
# 기초통계정보

#### 실습A-9. 범주값 확인

- 범주값을 갖는 Gender 열이 어떤 값을 몇 개씩 갖는지 확인합니다.

In [13]:
# 남녀 수

# 3.실습 B

- 데이터를 조회하고 집계하여 분석합니다.

#### 실습B-1. 조건 조회

- Gender열 값이 'Male' 이면서 Score열 값이 95 이상인 행을 조회합니다.

In [14]:
# Score 95이상 남자 고객

#### 실습B-2. 연령대별 집계

- 연령대(Age_Group)별 연수입(Income) 평균을 집계하여 age_mean 데이터프레임으로 선언하고 확인합니다.

In [15]:
# 연령대별 집계


# 확인

#### 실습B-3. 연령대별 집계 시각화

- 위 과정에서 만든 age_mean 데이터프레임을 막대그래프로 시각화합니다.

In [16]:
# 시각화

#### 실습B-4. 남녀별 집계

- 남녀(Gender)별 연수입(Income) 평균을 집계하여 gender_mean 데이터프레임으로 선언하고 확인합니다.

In [17]:
# 남녀별 집계


# 확인

#### 실습B-5. 정렬해서 확인

- Score 열을 기준으로 내림차순 정렬한 후 상위 20개 행만 추축해 score_top20 데이터프레임으로 선언하고 확인합니다.

In [18]:
# Score Top 20


# 확인

#### 실습B-6. 고객 그룹핑

- 다음 기준으로 고객 등급을 갖는 Level열을 **mall** 데이터프레임에 추가합니다.
    - 70 < Score : A
    - 50 < Score <= 70: B
    - 30 < Score <= 50: C
    - Score <= 30: D

In [19]:
# 등급 구하기




# 확인

#### 실습B-7. 등급별 집계

- 앞의 과정에서 추가한 등급(Level)별 연수입(Income) 평균을 집계합니다.

In [20]:
# 등급별 연수입 평균