In [ ]:
import pandas as pd

stock = [[94500, 92100, 92200, 92300],
         [96500, 93200, 95900, 94300],
         [93400, 91900, 93400, 92100],
         [94200, 92100, 94100, 92400],
         [94500, 92500, 94300, 92600],
         [94500, 92500, 94300, 92600]]
dates = ['2019-02-15', '2019-02-16', '2019-02-17', '2019-02-18', '2019-02-19','2019-02-20']
names = ['High', 'Low', 'Open', 'Close']

df = pd.DataFrame(stock, index = dates, columns = names)
df.head()

In [ ]:
# 딕셔너리 만들기
my_dict = {'Name': ['Gildong', 'Sarang', 'Jiemae', 'Yeoin'],
        'Level': ['Gold', 'Bronze', 'Silver', 'Gold'],
        'Score': [56000, 23000, 44000, 52000]}

my_dict

In [ ]:
df = pd.DataFrame(my_dict)
df.head(10)

In [ ]:
df = pd.DataFrame(my_dict, index = [f'C{x}' for x in range(1,5)])
df.head()

In [ ]:
# 리스트 만들기
list_score = [[80, 75, 100, 90, 80],
              [85, 70,  80, 95, 90],
              [75, 80,  85, 90, 90],
              [85, 65,  85, 75, 70],
              [70, 85,  90, 85, 95]]
              
# 인덱스: ['Gildong', 'Sarang', 'Jiemae', 'Yeoin', 'Woodong']
list_index = ['Gildong', 'Sarang', 'Jiemae', 'Yeoin', 'Woodong']

# 열이름: ['Korean', 'English', 'Math', 'Science', 'History']
list_col = ['Korean', 'English', 'Math', 'Science', 'History']

# 데이터프레임 만들기

score = pd.DataFrame(list_score, index= list_index, columns=list_col)
score.head()

In [ ]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/pop_simple.csv'
pop = pd.read_csv(path) 

# 상위 10행만 확인
pop.head(10)

In [ ]:
pop.set_index('year', inplace=True)
pop.head()

In [ ]:
import pandas as pd

path ='https://raw.githubusercontent.com/Jangrae/csv/master/weather_simple.csv'

temp = pd.read_csv(path)
# 상위 5개 확인
temp.head()

In [ ]:
temp.set_index('month', inplace = True)
temp.head()

In [ ]:
temp.index.name = None

temp.head()

In [ ]:
temp.reset_index(drop = False , inplace =True )

temp.head()

In [ ]:
temp.rename(columns= {'index':'month'}, inplace= True)

temp.head()

In [ ]:
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/weather_simple.csv'

temp = pd.read_csv(path)
temp.head()

In [ ]:
temp.info()

In [ ]:
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/tips.csv'
tip = pd.read_csv(path)
tip.head()

In [ ]:
tip10 = tip.sort_values(by = 'total_bill', ascending=False).head(10)

tip10

In [ ]:
tip.sort_values(by = ['total_bill','tip'], ascending=[False,True])

In [ ]:
tip['day'].value_counts()

In [ ]:
tip['day'].value_counts().plot(kind = 'bar')

In [ ]:
# 라이브러리 불러오기
import numpy as pd
import pandas  as pd
import matplotlib.pyplot as plt
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/tips.csv'
tip = pd.read_csv(path)

# 확인
tip.head()

In [ ]:
tip.loc[:,'total_bill']

In [ ]:
tip['tip']

In [ ]:
tip[['tip','day','time']].sort_values(by ='tip',ascending= True)

In [ ]:
tip.loc[:,'sex':'time'].head()

In [ ]:
tip.loc[ tip['day'].isin(['Sat','Sun'])]

In [ ]:
tip.loc[  tip['size'].between(1,3), :].sort_values(by= 'size',ascending = True)

In [ ]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/tips.csv'
tip =  pd.read_csv(path)

# 확인
tip.head()

In [ ]:
tip.groupby(by = 'day', as_index =False)['tip'].sum()

In [ ]:
tip.sort_values(by = 'tip', ascending=False)

In [ ]:
tip.groupby(by = 'day',as_index =False)[['tip']].sum()

In [ ]:
tip_sum = tip.groupby(by = 'day', as_index=False)[['tip']].sum()

In [ ]:
plt.bar(x = tip_sum['day'], height = tip_sum['tip'])
plt.title('Tip Amount')
plt.show()

In [ ]:
%config InlineBackend.figure_format = 'retina'
plt.plot(tip['tip'])

In [ ]:
tip_summ = tip.groupby(by = 'day', as_index =False)[  ['total_bill','tip']  ].sum()
tip_summ = tip_summ.sort_values(by = 'total_bill',ascending=False)
tip_summ

In [ ]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/tips(2).csv'
tip =  pd.read_csv(path)

# 확인
tip.head()

In [ ]:
tip.rename(columns={'total_bill_amount' :'total_bill',
                      'male_female' : 'sex',
                      'smoke_yes_no': 'smoker',
                      'week_name' : 'day',
                      'dinner_lunch': 'time'}, inplace=True) 
tip.head()

In [ ]:
tip.columns = ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

tip.head()

In [ ]:
tip['final_amt'] = tip['total_bill']+ tip['tip']

tip.head()

In [ ]:
tip.insert(1, 'div_tb',tip['total_bill']/ tip['size'])

tip.head()

In [ ]:
tip['holiday'] = 0
tip.loc[tip['day'].isin(['Sat','Sun']), 'holiday'] = 1

tip.head()

In [ ]:
tip.drop('final_amt', axis =1, inplace = True )

tip.head()

In [ ]:
del_cols = ['div_tb','day']
tip.drop(del_cols, axis =1, inplace =True)
tip.head()

In [ ]:
import pandas as pd
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
graduate = pd.read_csv(path)

In [ ]:
graduate.head()

In [ ]:
graduate.shape

In [ ]:
graduate.value_counts(  ['rank']  )

In [ ]:
graduate[ ['gre','gpa']].mean()

In [ ]:
graduate.sort_values(by= 'gre', ascending=True)

In [ ]:
tmp = graduate.sort_values(by= ['rank','gpa'], ascending=[True,False])

tmp.reset_index(drop = True ,inplace = True)

tmp

# 06

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

In [25]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

path = 'tips.csv'
tip = pd.read_csv(path)
tip.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

[문1] 기초통계량에서 total_bill 열의 25%, 50%, 75% 값을 조회해 q1, q2, q3 변수를 선언하세요.

In [28]:
q1 = tip.describe().loc['25%','total_bill']
q2 = tip.describe().loc['50%','total_bill']
q3 = tip.describe().loc['75%','total_bill']

[문2] 아래 범위와 값을 참조해 'a' ~ 'd' 값을 갖는 bill_grp 열을 추가하세요.

   - q1 이하 → 'a'
   - q1 초과 q2 이하 → 'b'
   - q2 초과 q3 이하 → 'c'
   - q3 초과 → 'd'

In [35]:
my_bins = [-np.inf, q1, q2, q3, np.inf]
my_label = list('abcd')

tip['bill_grp'] = pd.cut(tip['total_bill'] ,bins = my_bins, labels = my_label)

tip_rising = tip.sort_values(by = 'bill_grp', ascending = True)

tip_rising.reset_index(drop = True, inplace = True)

tip_rising

     total_bill    tip     sex smoker   day    time  size bill_grp
0         12.03   1.50    Male    Yes   Fri  Dinner     2        a
1         12.43   1.80  Female     No  Thur   Lunch     2        a
2         10.07   1.83  Female     No  Thur   Lunch     1        a
3          9.60   4.00  Female    Yes   Sun  Dinner     2        a
4         11.69   2.31    Male     No  Thur   Lunch     2        a
..          ...    ...     ...    ...   ...     ...   ...      ...
239       25.00   3.75  Female     No   Sun  Dinner     4        d
240       48.17   5.00    Male     No   Sun  Dinner     6        d
241       29.85   5.14  Female     No   Sun  Dinner     5        d
242       30.40   5.60    Male     No   Sun  Dinner     4        d
243       50.81  10.00    Male    Yes   Sat  Dinner     3        d

[244 rows x 8 columns]

[문3] bill_grp 별 total_bill, tip의 평균을 집계하세요.

In [33]:
avg = tip.groupby(by ='bill_grp', as_index = False )[['total_bill','tip']].mean()

avg

  bill_grp  total_bill       tip
0        a   10.691967  1.920656
1        b   15.618689  2.609672
2        c   20.498525  3.225246
3        d   32.334590  4.237541

In [37]:
import numpy as np

a= np.array([[1,2,3],[4,5,6]])
print(a)

[[1 2 3]
 [4 5 6]]

In [43]:
import pandas as pd 
path = 'tips.csv'
tip = pd.read_csv(path)

tip.groupby(by = 'sex',as_index = False)['tip'].sum()

      sex     tip
0  Female  246.51
1    Male  485.07

In [39]:
tip.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000