In [2]:
# 라이브러리
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as spst
import urllib.request 
import json 
# 한글폰트 지정(맑은고딕)
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

# 고해상도
%config InlineBackend.figure_format = 'retina'

In [6]:
import datetime as dt

In [3]:
path = 'https://raw.githubusercontent.com/matplotlib/sample_data/master/aapl.csv'
df = pd.read_csv(path)
df.head()

         Date    Open    High     Low   Close    Volume  Adj Close
0  2008-10-14  116.26  116.40  103.14  104.08  70749800     104.08
1  2008-10-13  104.55  110.53  101.02  110.26  54967000     110.26
2  2008-10-10   85.70  100.00   85.00   96.80  79260700      96.80
3  2008-10-09   93.35   95.80   86.60   88.74  57763700      88.74
4  2008-10-08   85.91   96.33   85.68   89.79  78847900      89.79

In [7]:
df['Date'] = df['Date'].apply(pd.to_datetime)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6081 entries, 0 to 6080
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6081 non-null   datetime64[ns]
 1   Open       6081 non-null   float64
 2   High       6081 non-null   float64
 3   Low        6081 non-null   float64
 4   Close      6081 non-null   float64
 5   Volume     6081 non-null   int64
 6   Adj Close  6081 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 332.7 KB

In [11]:
df.set_index('Date', inplace = True)
df.head()

              Open    High     Low   Close    Volume  Adj Close
Date
2008-10-14  116.26  116.40  103.14  104.08  70749800     104.08
2008-10-13  104.55  110.53  101.02  110.26  54967000     110.26
2008-10-10   85.70  100.00   85.00   96.80  79260700      96.80
2008-10-09   93.35   95.80   86.60   88.74  57763700      88.74
2008-10-08   85.91   96.33   85.68   89.79  78847900      89.79

In [15]:
df['month'] = df.index.month
df.head()

              Open    High     Low   Close    Volume  Adj Close  month
Date
2008-10-14  116.26  116.40  103.14  104.08  70749800     104.08     10
2008-10-13  104.55  110.53  101.02  110.26  54967000     110.26     10
2008-10-10   85.70  100.00   85.00   96.80  79260700      96.80     10
2008-10-09   93.35   95.80   86.60   88.74  57763700      88.74     10
2008-10-08   85.91   96.33   85.68   89.79  78847900      89.79     10

In [21]:
df.groupby('month').agg(sum)

           Open      High       Low     Close      Volume  Adj Close
month
1      23948.52  24461.73  23390.56  23918.13  9805804200   11367.98
2      21974.53  22371.15  21557.04  21963.23  6522864800    9997.85
3      24723.68  25219.91  24282.92  24753.57  7070702800   11474.91
4      23914.40  24380.59  23432.92  23918.97  7117967600   11584.53
5      25550.13  25957.23  25094.68  25525.41  6234889200   12807.17
6      24295.34  24690.45  23825.69  24247.35  6450082800   12597.24
7      22989.93  23408.38  22533.05  22975.71  6763186500   12633.79
8      24714.18  25159.17  24315.65  24756.72  6235410200   13574.59
9      23367.95  23793.52  22888.32  23316.07  6605294800   12419.90
10     23404.18  23877.38  22877.44  23384.22  8247620400   12000.12
11     22305.48  22709.72  21870.70  22290.70  5888204800   11055.01
12     23545.45  23922.01  23131.60  23532.32  6001985300   11571.59

In [25]:
df.groupby([df.index.year,df.index.month]).sum()

              Open     High      Low    Close     Volume  Adj Close  month
Date Date
1984 9      431.70   437.33   425.70   427.82   76916800      48.83    144
     10     575.82   582.21   569.95   570.56  127866400      65.10    230
     11     515.45   520.44   507.95   508.96  120740800      58.06    231
     12     541.20   547.57   536.82   538.95  123907200      61.50    240
1985 1      649.44   656.83   641.08   643.57  227784000      73.43     22
...            ...      ...      ...      ...        ...        ...    ...
2008 6     3757.50  3812.54  3683.70  3748.20  695468400    3748.20    126
     7     3691.39  3758.63  3610.58  3690.47  705348600    3690.47    154
     8     3583.03  3639.27  3543.65  3592.46  467263100    3592.46    168
     9     3005.72  3070.83  2888.22  2966.11  859181100    2966.11    189
     10    1002.14  1046.99   939.97   983.26  669676100     983.26    100

[290 rows x 7 columns]

In [27]:
df.groupby(df.index.month).sum()

          Open      High       Low     Close      Volume  Adj Close  month
Date
1     23948.52  24461.73  23390.56  23918.13  9805804200   11367.98    501
2     21974.53  22371.15  21557.04  21963.23  6522864800    9997.85    920
3     24723.68  25219.91  24282.92  24753.57  7070702800   11474.91   1569
4     23914.40  24380.59  23432.92  23918.97  7117967600   11584.53   1984
5     25550.13  25957.23  25094.68  25525.41  6234889200   12807.17   2545
6     24295.34  24690.45  23825.69  24247.35  6450082800   12597.24   3072
7     22989.93  23408.38  22533.05  22975.71  6763186500   12633.79   3556
8     24714.18  25159.17  24315.65  24756.72  6235410200   13574.59   4248
9     23367.95  23793.52  22888.32  23316.07  6605294800   12419.90   4518
10    23404.18  23877.38  22877.44  23384.22  8247620400   12000.12   5430
11    22305.48  22709.72  21870.70  22290.70  5888204800   11055.01   5401
12    23545.45  23922.01  23131.60  23532.32  6001985300   11571.59   6060